# EditorConfig helps maintain consistent coding styles
# https://editorconfig.org

root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false
max_line_length = off

[*.{yml,yaml}]
indent_size = 2

[*.py]
indent_size = 4

[*.{go,mod}]
indent_style = tab
indent_size = 4

[Makefile]
indent_style = tab

[*.{json,jsonc}]
indent_size = 2

[*.{sh,bash}]
indent_size = 2
shell_variant = bash

[*.sql]
indent_size = 2

[*.{tf,tfvars}]
indent_size = 2
